* {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin: 10px 0px;
}

html {
    width: 100%;
    height: 100%;
    background-color:rgb(238, 238, 238);
    /* background-color: rgb(51, 51, 51); */
}

body {
    margin: 0%;
    display: flex;
    flex-flow: column nowrap;
}

div {
    padding: 0px 10px;
}

#header {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    min-height: 200px;
    padding-top: 10px;
    width: 100%;
}

#portrait {
    height: 180px;
    width: 180px;
    padding: 0;
    border: 1px solid black;
    flex: 0 0 auto;
}

#portrait img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.info {
    overflow: hidden;
    flex: 1 1 350px;
}

div#contact-info {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
}

div#contact-info a {
    color: black;
    padding: 10px 5px;
    text-decoration: none;
    flex: 0 1 120px;
}

#navbar {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: rgb(51, 51, 51);
    display: flex;
}

#navbar a {
    color: white;
    padding: 6px 10px;
    text-decoration: none;
    text-align: center;
}

#navbar div {
    margin-left: auto;
    display: flex;
    flex-flow: row nowrap;
}

#navbar a:hover,
#navbar a.active {
    background-color: rgb(221, 221, 221);
    color: black;
}

#container-frame {
    width: 100%;
    display: flex;
    align-self: center;
    padding-top: 10px;
    padding-bottom: 50px;
}

#container {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

#button-top,
#button-bottom {
    align-self: center;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 10px 0px;
}

button p {
    margin: 0%;
    padding: 0px 10px;
}

.sub-container {
    display: grid;
    /* grid: 70px auto auto auto auto auto / 100px auto; */
    grid-template-columns: 100px auto;
    grid-template-rows: 70px auto auto auto auto auto;
    width: 100%;
}

.sc-title {
    grid-area: 1 / 1 / 2 / 3;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, rgb(51, 51, 51), rgba(0, 0, 0, 0)) 1 0%;
}

h4.sc-content1 {
    grid-area: 2 / 1 / 3 / 2;
    place-self: start center;
}

article.sc-content1 {
    grid-area: 2 / 2 / 3 / 3;
    place-self: start stretch;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, rgb(51, 51, 51), rgba(0, 0, 0, 0)) 1 0%;
}

h4.sc-content2 {
    grid-area: 3 / 1 / 4 / 2;
    place-self: start center;
}

article.sc-content2 {
    grid-area: 3 / 2 / 4 / 3;
    place-self: start stretch;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, rgb(51, 51, 51), rgba(0, 0, 0, 0)) 1 0%;
}

h4.sc-content3 {
    grid-area: 4 / 1 / 5 / 2;
    place-self: start center;
}

article.sc-content3 {
    grid-area: 4 / 2 / 5 / 3;
    place-self: start stretch;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, rgb(51, 51, 51), rgba(0, 0, 0, 0)) 1 0%;
}

h4.sc-content4 {
    grid-area: 5 / 1 / 6 / 2;
    place-self: start center;
}

article.sc-content4 {
    grid-area: 5 / 2 / 6 / 3;
    place-self: start stretch;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, rgb(51, 51, 51), rgba(0, 0, 0, 0)) 1 0%;
}

ul {
    list-style: square inside;
    text-indent: -22px;
    /* key property */
    margin-left: 20px;
    /* key property */
}

#footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #bcbcbc;
}

#sc-Education {
    display: grid;
}

#sc-Experience,
#sc-Researches,
#sc-Projects,
#sc-Skills,
#sc-References {
    display: none;
}